
// testing

#activitiesByMalte{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.schedule-item {
  display: flex;
  
  align-items: center;
  justify-content: space-between;
  background: #f5c793; // light peach background
  border-radius: 30px;
  padding: 0 10px 0 0;
  font-family: 'Inter', sans-serif;
  font-size: 0.7rem;
  color: #fff;
  width: fit-content;
  min-width: 350px;
  height: 40px;
  width: 100%;

  // Circle/left label
  h3 {
    background: #f26522; // orange circle
    color: #fff;
    border-radius: 22px 0 0 22px ; // px her virker lidt skørt, så det skal ændres
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin: 0;
    flex-shrink: 0;
    padding: 0 25px;
  }

  p {
    margin: 0;
    color: #fff;

    &:nth-of-type(1) {
      flex: 1;
      font-weight: 500;
      padding-left: 10px;
    }

    &:nth-of-type(2) {
      flex: 2;
      text-align: center;
      opacity: 0.9;
      padding-left: 10px;
    }

    &:nth-of-type(3) {
      flex: 1;
      text-align: right;
      font-weight: 500;
      padding-right: 10px;
    }
    &:nth-of-type(4) {
       flex: 1;
      text-align: right;
      font-weight: 500;
      padding-right: 5px;
    }
  }
}
