// Globals: variables and mixins
// colors
$color-primary: #f0732a;
$color-secondary: #ffc693;
$color-accent: #f0a900;
$color-surface: #97bdac;
$color-text: #146e57;
$color-background: #d5e2d8;

// Text / typography

// Mixins
