.top-level-grid-by-Marie-Pierre-Lessard {
    display: grid;
    /* TO DO exact measurements? */
    grid-template-columns: 1fr 3fr;
}

.top-level-column-to-left-by-Marie-Pierre-Lessard {
    background-color: green;
}

.top-level-column-to-right-by-Marie-Pierre-Lessard {
    background-color: red;
    display: grid;
    /* TO DO exact measurements? */
    grid-template-columns: repeat(2, 1fr);
}

.sub-column-to-left-by-Marie-Pierre-Lessard {}

.sub-column-to-right-by-Marie-Pierre-Lessard {}

.global-footer-by-Marie-Pierre-Lessard {
    /* TO DO temporary */
    background-color: black;
}