
// testing

#activitiesByMalte{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.schedule-item {
  display: flex;
  
  align-items: center;
  justify-content: space-between;
  // background: #f5c793;
  border-radius: 30px;
  padding: 0 10px 0 0;
  font-family: 'Inter', sans-serif;
  font-size: 4rem;
  color: #fff;
  width: fit-content;
  min-width: 350px;
  height: 40px;
  width: 100%;

  // Circle/left label
  h3 {
    color: #fff;
    border-radius: 22px 0 0 22px ; // px her virker lidt skørt, så det skal ændres
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 0.9rem;
    margin: 0;
    flex-shrink: 0;
    padding: 0 25px;
  }

  p {
    margin: 0;
    color: #fff;
    font-size: 0.9rem;

    &:nth-of-type(1) {
      flex: 1;
      font-weight: 500;
      padding-left: 10px;
    }

    &:nth-of-type(2) {
      flex: 2;
      text-align: center;
      opacity: 0.9;
      padding-left: 10px;
    }

    &:nth-of-type(3) {
      flex: 1;
      text-align: right;
      font-weight: 500;
      padding-right: 10px;
    }
    &:nth-of-type(4) {
       flex: 1;
      text-align: right;
      font-weight: 500;
      padding-right: 5px;
    }
  }
}
.education-circles {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: right;

  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 4vw; // 129px i designet
    height: 4vw;
    aspect-ratio: 1 / 1; 
    border-radius: 50%;  
    color: #fff;
    font-size: 30px;
    line-height: 1;
    padding: 0;

    &:nth-of-type(1){
      background-color: #f4690c;
    }
    &:nth-of-type(2){
      background-color: #97BEAC;
    }
    &:nth-of-type(3){
      background-color: #F5C961;
    }

  }
}