#activitiesByMalte {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.schedule-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  padding: 0 10px 0 0;
  font-family: "Inter", sans-serif;
  font-size: 0.7rem;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 350px;
  height: 40px;
  width: 100%;
}
.schedule-item h3 {
  background: #f26522;
  color: #fff;
  border-radius: 22px 0 0 22px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin: 0;
  flex-shrink: 0;
  padding: 0 25px;
}
.schedule-item p {
  margin: 0;
  color: #fff;
}
.schedule-item p:nth-of-type(1) {
  flex: 1;
  font-weight: 500;
  padding-left: 10px;
}
.schedule-item p:nth-of-type(2) {
  flex: 2;
  text-align: center;
  opacity: 0.9;
  padding-left: 10px;
}
.schedule-item p:nth-of-type(3) {
  flex: 1;
  text-align: right;
  font-weight: 500;
  padding-right: 10px;
}
.schedule-item p:nth-of-type(4) {
  flex: 1;
  text-align: right;
  font-weight: 500;
  padding-right: 5px;
}

.education-circles {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: right;
}
.education-circles span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 4vw;
  height: 4vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  color: #fff;
  font-size: 30px;
  line-height: 1;
  padding: 0;
}
.education-circles span:nth-of-type(1) {
  background-color: #f4690c;
}
.education-circles span:nth-of-type(2) {
  background-color: #97BEAC;
}
.education-circles span:nth-of-type(3) {
  background-color: #F5C961;
}